<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
    <title>TOP</title>
</head>
<body>
<div class="full height image" layout:fragment="content">
    <div class="ui main container">
        <div class="menu bar"></div>
        <div class="ui information container center aligned">
            <h1 class="ui header">tiscon card order</h1>
            <h2 class="bland-message">多彩なチカラが、広げる未来。</h2>
            <div style="position:relative;">
                <div class="photo-show" style="display:inline-block; ">
                        <img class="photo-show-card1" src="/assets/img/credit-card01.png">
                        <img class="photo-show-card2" src="/assets/img/credit-card02.png">
                        <img class="photo-show-card3" src="/assets/img/credit-card03.png">
                    </div>
                    <div class="text-show"  style="width:30%;float:right;height:300px;vertical-align:middle;line-height:100px;font-size:25px;color:#3300CC" >年間費：永年無料<br>入会時、5000ポイント贈呈<br>100円＝1ポイント</div>
            </div>
            <div>
                <a href="/cardOrder/user" class="ui primary btn">
                    <h2>カードの新規入会申込み</h2>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
