<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
    <title>お勤め先の入力</title>

    <script src="/assets/js/metrixir.client.js"></script>
</head>
<body>
<div class="full height image" layout:fragment="content">
    <div class="ui main container">
        <div class="ui information container">
            <div class="ui middle center aligned grid">
                <div class="center column">
                    <div class="ui segment metrixir">
                        <h1 class="ui aligned header teal">お申込み情報</h1>

                        <form class="ui form" method="post" action="/cardOrder/">

                            <!-- /*エラーがあれば表示する*/ -->
                            <ul class="ui red basic label" th:if="${form.hasErrors()}">
                                <li th:each="error : ${form.getErrors().entrySet()}" th:text="${error.value}"></li>
                            </ul>

                            <div class="ui horizontal divider">お勤め先について</div>

                            <div class="ui statement">ご職業が「経営・自営業」、「会社員」、「契約・派遣社員」、「公務員」、「民間団体」、「その他（有職）」の方は、以下の項目をご入力ください。</div>

                            <div class="field" th:classappend="${form.hasErrors('employerName')} ? 'error'">
                                <label>お勤め先名</label>
                                <input type="text" name="employerName" th:value="${form.employerName}"/>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('employerZipCode')} ? 'error'">
                                <label>お勤め先郵便番号</label>
                                <input type="text" name="employerZipCode" th:value="${form.employerZipCode}"/>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('employerAddress')} ? 'error'">
                                <label>お勤め先住所</label>
                                <input type="text" name="employerAddress" th:value="${form.employerAddress}"/>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('employerPhoneNumber')} ? 'error'">
                                <label>お勤め先電話番号</label>
                                <input type="text" name="employerPhoneNumber" th:value="${form.employerPhoneNumber}"/>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('industryType')} ? 'error'">
                                <label>業種</label>
                                <select name="kibun">
                                    <option value="nourinnsuikou">農林水鉱</option>
                                    <option value="kennchikufudousann">建築不動産</option>
                                    <option value="seizou">製造</option>
                                    <option value="oroshiuriseizou">卸売製造</option>
                                    <option value="kinnyuuhokenn">金融保険</option>
                                    <option value="unnyutuushinn">運輸通信</option>
                                    <option value="dennkigasu">電気ガス</option>
                                    <option value="kannkucyou">官公庁</option>
                                    <option value="sa-bisu">サービス</option>
                                    <option value="sonota">その他</option>
                                </select>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('capital')} ? 'error'">
                                <label>資本金</label>
                                <select name="capital">
                                    <option value="999" th:field="${form.capital}" th:checked="${form.capital}=='999'">１千万円未満</option>
                                    <option value="4999" th:field="${form.capital}" th:checked="${form.capital}=='4999'">１千万円以上５千万円未満</option>
                                    <option value="29999" th:field="${form.capital}" th:checked="${form.capital}=='29999'">５千万円以上３億円未満</option>
                                    <option value="30000" th:field="${form.capital}" th:checked="${form.capital}=='30000'">３億円以上</option>
                                    <option value="0" th:field="${form.capital}" th:checked="${form.capital}=='0'">その他</option>
                                </select>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('companySize')} ? 'error'">
                                <label>お勤め先の規模（従業員数）</label>
                                <select name="companySize">
                                    <option value="9" th:field="${form.companySize}" th:checked="${form.companySize}=='9'">10名未満</option>
                                    <option value="29" th:field="${form.companySize}" th:checked="${form.companySize}=='29'">10名以上30名未満</option>
                                    <option value="49" th:field="${form.companySize}" th:checked="${form.companySize}=='49'">30名以上50名未満</option>
                                    <option value="99" th:field="${form.companySize}" th:checked="${form.companySize}=='99'">50名以上100名未満</option>
                                    <option value="499" th:field="${form.companySize}" th:checked="${form.companySize}=='499'">100名以上500名未満</option>
                                    <option value="500" th:field="${form.companySize}" th:checked="${form.companySize}=='500'">500名以上</option>
                                </select>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('department')} ? 'error'">
                                <label>所属部署</label>
                                <input type="text" name="department" th:value="${form.department}"/>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('position')} ? 'error'">
                                <label>役職</label>
                                <input type="text" name="position" th:value="${form.position}"/>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('employeeLength')} ? 'error'">
                                <label>勤続年数</label>
                                <select name="kibun">
                                    <option value="saikou">1年未満</option>
                                    <option value="botiboti">1年～3年</option>
                                    <option value="hutuu">3年～5年</option>
                                    <option value="saiaku">5年～10年未</option>
                                    <option value="saiaku">10年～15年</option>
                                    <option value="saiaku">15年以上</option>
                            </div>

                            <!--/*"ご本人"の入力値を引き回すための隠し項目*/-->
                            <input type="hidden" name="kanjiName" th:value="${form.kanjiName}"/>
                            <input type="hidden" name="kanaName" th:value="${form.kanaName}"/>
                            <input type="hidden" name="alphabetName" th:value="${form.alphabetName}"/>
                            <input type="hidden" name="gender" th:value="${form.gender}"/>
                            <input type="hidden" name="dateOfBirth" th:value="${form.dateOfBirth}"/>
                            <input type="hidden" name="zipCode" th:value="${form.zipCode}"/>
                            <input type="hidden" name="address" th:value="${form.address}"/>
                            <input type="hidden" name="homePhoneNumber" th:value="${form.homePhoneNumber}"/>
                            <input type="hidden" name="mobilePhoneNumber" th:value="${form.mobilePhoneNumber}"/>
                            <input type="hidden" name="emailAddress" th:value="${form.emailAddress}"/>
                            <input type="hidden" name="spouse" th:value="${form.spouse}"/>
                            <input type="hidden" name="houseClassification" th:value="${form.houseClassification}"/>
                            <input type="hidden" name="debt" th:value="${form.debt}"/>
                            <input type="hidden" name="income" th:value="${form.income}"/>
                            <input type="hidden" name="job" th:value="${form.job}"/>

                            <div class="ui column grid">
                                <div class="eight wide column left aligned">
                                    <!--/*戻る場合、formの送り先を強制的に書き換える*/-->
                                    <button class="ui button angle left icon" onclick="form.action='/cardOrder/modify';return true">戻る</button>
                                </div>
                                <div class="eight wide column right aligned">
                                    <button class="ui teal button angle right icon">カードを申し込む</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
